<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @listing.description %>
</p> 

<% if @listing.suggestion %>
    <p>
        <strong>Swap Suggestion:</strong><br>
        <%= @listing.suggestion %>
    </p>
<% end %>
<p>
  <strong>Available:</strong>
  <%= @listing.locked == false ? "Yes" : "No" %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.username %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
