<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @trade.listing_id %>
</p>

<p>
  <strong>Offering:</strong>
  <%= @trade.offering_id %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
